<div class="row">
    <div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
           {{title}}
        </div>
        <div class="panel-body">
         <p class="text-center">
             Enter a nickname and email to track your high scores
         </p>

    
            </div>
                        <ul class="list-group">
<li class="list-group-item">
       <div class="input-group">
                <span class="input-group-addon">
                    Name
                </span>
                <input type="text" class="form-control">
            </div>
</li>
<li class="list-group-item">
        <div class="input-group">
                <span class="input-group-addon">
                    Email
                </span>
                <input type="text" class="form-control">
            </div>
</li>
            </ul>
    </div>
    </div>
</div>