<form #signInForm="ngForm">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="input-group">
                <span class="input-group-addon">User Name</span>
                <input [(ngModel)]="newUser.userName" name="userName" type="text" class="form-control" required>
            </div>
        </li>
        <li class="list-group-item">
            <div class="input-group">
                <span class="input-group-addon">Gmail Address</span>
                <input [(ngModel)]="newUser.emailAddress" name="email" type="email" class="form-control" required>
            </div>
        </li>
        <li class="list-group-item">
            <button [disabled]="!signInForm.form.valid" type="submit" class="btn btn-primary" (click)="submitAuthCreds($event)">Login</button>
        </li>

        <li class="list-group-item">
            <a href='http://localhost:3000/auth/google/' type="submit" class="btn btn-primary" 
            >Login with Google</a>
        </li>
    </ul>
</form>